<h1>About VegPatch</h1>
<p>This is VegPatch, an on-line database of common vegetables that can be grown in your back-yard.</br>This site provides all of the know-how, resources 
and tips that you will need to create a productive garden. </br>Not only is vegetable gardening a relaxing pass-time, it has the added benefit of fresh 
healthy vegetables at harvest time. </br> So read through this site today and then go outside and get gardening!</p>
