<h1>Contact Details</h1>
<p><b>Email:</b> me@someAddress.com</p>
<p><b>Tel: </b> 123456789</p>
<p><b>Address: </b></br> 
				Some,</br>
				Place,</br>
				In,</br>
				Ireland</p>

<p>Please contact with any complaints, suggestions or praise!</p>
