/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
    background-color: #D6FFFF;
}

 #navbar {
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px;
	background-color: #FFFF19;
    border-left: solid;
    border-left-width: 10px;
    border-top: solid;
    border-top-width: 10px;
    border-color: #0099CC;
 }

.navlink {
    display: inline;
    font-size: auto;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #66FF33;
    border-color: black;
    border-left: solid;
    border-left-width: 8px;
}

div.rightSide img {
    top: 8px;
    right: 8px;
    position: fixed;
}

div.leftSide img {
	opacity: 0;
    top: 8px;
    left: 8px;
    position: fixed;
}

div.rating_line {
    text-align: center;
}